.attributes-mapping-loader {
	text-align: center;
	margin: 15px 0;
}
.attributes-mapping-loader>.loader-icon {
	display: inline-block;
	zoom: 1;
}

div.attributes-mapping-wrapper td input.static-value {
	width: 80px;
}

div.attributes-mapping-wrapper td input.callback {
	width: 380px;
}